# Python
kortex_env39/
kortex_env/
__pycache__/
*.pyc
*.pyo

# Visual Studio build outputs
Peak Debug/
ESD Debug/
Debug/
Release/
*.user
*.suo
*.aps
*.ncb
*.sdf
*.opensdf
.vs/

# VS Code
.vscode/

# Windows
Thumbs.db
Desktop.ini